{% extends "layout.html" %} {% block head %}
<title>Login</title>
{% endblock %} {% block header %}
<nav>
  <ul>
    <li><a href="/register">register</a></li>
    <li><a href="/login" class="current">login</a></li>
  </ul>
</nav>
{% endblock %} {% block main %}
<h2>Login</h2>
<h4>Don't have an account?</h4>
<h5>Register <a href="/register">here</a></h5>
<form action="/login" method="post">
  <div>
    <label for="#username">Username:</label>
    <input type="text" id="username" name="username" />
  </div>
  <div>
    <label for="#password">Password:</label>
    <input type="password" id="password" name="password" />
  </div>
  <button type="submit">Login</button>
</form>
{% endblock %}
